@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

/* || RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input,
button,
textarea,
select {
	font: inherit;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

/* || VARIABLES */

:root {
	/* FONTS */
	--FF: "Lato", sans-serif;
	--FS: clamp(1rem, 2.2vh, 1.5rem);

	/* COLORS */
	--PRIM-COLOR: #fd2d01;
	--SECON-COLOR: #ffd7d7;
	--TERTI-COLOR: #4e5166;
	--BORDER-COLOR: #fff;
	--LIGHT-COLOR: #fff;
	--INACTIVE: lightgray;
	--LINK-COLOR: #ffd7d7;
	--TABLE-BGCOLOR: #fff;
	--TABLE-COLOR: #000;
	--ICON-COLOR: #fff;
	--REGISTER-VALID: limegreen;
	--REGISTER-INVALID: red;

	/* BORDERS */
	--BORDER-S: 1px solid;
	--BORDER-L: 2px solid;
	--SHADOW: 0 0 5px var(--SECON-COLOR);
	--BORDER-RADIUS: 15px;
}

/* || SETTINGS FOR DARK MODE */
@media (prefers-color-scheme: dark) {
	:root {
		--BORDER-COLOR: whitesmoke;
		--LIGHT-COLOR: whitesmoke;
		--TABLE-BGCOLOR: whitesmoke;
		--ICON-COLOR: whitesmoke;
	}
}

/* || UTILITY CLASSES */
.errmsg {
	display: inline-block;
	background-color: var(--TABLE-BGCOLOR);
	color: var(--PRIM-COLOR);
	padding: 0.25em;
	margin-bottom: 0.5em;
}

.errmsg a:any-link {
	color: var(--PRIM-COLOR);
	text-decoration: underline;
}

.offscreen {
	position: absolute;
	left: -9999px;
}

.nowrap {
	white-space: nowrap;
}

.icon-button {
	width: 48px;
	height: 48px;
	font-size: 2.5rem;
	background-color: transparent;
	border: none;
	color: var(--ICON-COLOR);
	display: grid;
	place-content: center;
}

.icon-button:hover,
.icon-button:focus-visible {
	transform: scale(1.2);
	color: var(--SECON-COLOR);
}

.icon-button[disabled] {
	visibility: hidden;
}

.notFound {
	display: grid;
	place-content: center;
}

/* || GENERAL STYLES */

html {
	scroll-behavior: smooth;
	/* font-size: var(--FS); */
	font-family: var(--FF);
}

body {
	min-height: 100vh;
	background-color: var(--TERTI-COLOR);
	color: var(--LIGHT-COLOR);
	background-image: url("./img/background_dark.jpg");
	background-size: cover;
	/* background-blend-mode: overlay; */
}

button {
	cursor: pointer;
}

#root {
	/* React root div */
	min-height: 100vh;
	display: flex;
	flex-flow: column nowrap;
}

a {
	text-decoration: none;
}

a,
a:visited {
	color: var(--LINK-COLOR);
}

a:hover,
a:focus-visible {
	color: var(--SECON-COLOR);
}

/* || PAGES */

.public,
.welcome {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.public {
	padding: 1em;
	flex-grow: 1;
}

.public__container {
	display: flex;
	flex-flow: row nowrap;
}

.public__button {
	padding: 0.5em;
	border-radius: var(--BORDER-RADIUS);
}

.public__link {
	padding: 0.5em;
	text-decoration: underline;
}

.public__main,
.login {
	flex-grow: 1;
	border-top: var(--BORDER-L) var(--BORDER-COLOR);
	border-bottom: var(--BORDER-L) var(--BORDER-COLOR);
	padding: 1em 0;
}

.public__addr {
	margin-top: 1em;
}

.welcome a::before {
	content: "➜ ";
}

.public-logo__container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 70vh;
	position: relative;
}

.public__logo {
	width: 300px;
	/* position: absolute;
	left: -150%;
	margin-left: -150px;
	top: 50%; */
	animation: showPublicLogo 1.5s ease-in-out 0.1s forwards;
}

@keyframes showPublicLogo {
	0% {
		/* left: -50%; */
		transform: scaleY(0);
	}

	80% {
		/* left: 30%; */
		transform: scaleY(-1.2);
	}

	100% {
		/* left: 50%; */
		transform: scaleY(1);
	}
}

.logo {
	width: 250px;
	margin: auto;
	display: block;
	padding: 5px;
}

.public__logo:hover {
	transform: scale(1.2);
	color: var(--SECON-COLOR);
}

/* || REGISTER */
.instructions {
	font-size: 1rem;
	border-radius: 0.5rem;
	background: var(--TERTI-COLOR);
	color: var(--LIGHT-COLOR);
	padding: 0.25rem;
	position: relative;
	bottom: -10px;
}

.instructions > svg {
	margin-right: 0.25rem;
}

.hide {
	display: none;
}

.valid {
	color: var(--REGISTER-VALID);
	margin-left: 0.25rem;
}

.invalid {
	color: var(--REGISTER-INVALID);
	margin-left: 0.25rem;
}

.line {
	display: inline-block;
}

/* || DASH HEADER, CONTAINER & FOOTER */

.dash-header {
	position: sticky;
	top: 0;
	z-index: 1;
	background-color: var(--TERTI-COLOR);
	padding: 0 0.5em;
	border-bottom: var(--BORDER-S) var(--BORDER-COLOR);
}

.dash-header__container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.dash-header__container--small {
	max-width: 800px;
}

.dash-header__nav {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	gap: 1.5em;
}

.dash-container {
	padding: 0.75em 0.5em 0.5em;
	flex-grow: 1;
}

.dash-footer {
	font-size: 1rem;
	position: sticky;
	bottom: 0;
	z-index: 1;
	background-color: var(--TERTI-COLOR);
	padding: 0.5em;
	border-top: var(--BORDER-S) var(--BORDER-COLOR);
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	gap: 1em;
}

.dash-footer__button {
	font-size: 1rem;
	width: auto;
	height: auto;
}

/* || TABLES - GENERAL */

thead,
tbody,
tr {
	display: contents; /* to be able to use grid on table */
}

thead th:first-child {
	border-top-left-radius: var(--BORDER-RADIUS);
}

thead th:last-child {
	border-top-right-radius: var(--BORDER-RADIUS);
}

.table {
	font-size: 1rem;
	width: 100%;
	display: grid;
	grid-template-columns: 2fr 1fr;
	color: var(--TABLE-COLOR);
	gap: 0.1em;
}

.table__button {
	padding: 0.25em;
	font-size: 1.5rem;
	color: var(--TABLE-COLOR);
}

.table__thead {
	position: sticky;
	top: 0;
	z-index: 1;
}

.table__th,
.table__cell {
	background-color: var(--TABLE-BGCOLOR);
	text-align: left;
	border: var(--BORDER-S) var(--TABLE-COLOR);
	padding: 0.5em;
}

.table__cell:last-child {
	display: grid;
	place-content: center;
}

.table__cell--inactive {
	background-color: var(--INACTIVE);
}

/* ||  POST LIST */
article {
	margin: 0.5em;
	border: var(--BORDER-L) var(--BORDER-COLOR);
	border-radius: 10px;
	padding: 1em;
	box-shadow: var(--SHADOW);
}

.excerpt {
	margin-bottom: 20px;
}

.postCredit {
	font-size: 1rem;
	margin-right: 0.5rem;
}

.list__buttons {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}

img {
	border-radius: var(--BORDER-RADIUS);
	object-fit: cover;
	margin-bottom: 10px;
}

.liked {
	transform: scale(1.2);
	color: var(--SECON-COLOR);
}

.unliked {
	transform: scale(1);
	color: var(--ICON-COLOR);
}

.likes {
	font-style: italic;
	font-size: smaller;
}

/* ||  SEARCH BAR */
.search {
	width: 70%;
	margin: auto;
	border: var(--BORDER-L) var(--TABLE-COLOR);
	border-radius: 2em;
	overflow: hidden;
	font-size: 1rem;
	display: flex;
	flex-flow: row nowrap;
	margin-top: 5px;
	margin-bottom: 5px;
	
}

.search__button,
.search__input {
	background-color: var(--LIGHT-COLOR);
	border: none;
	outline: none;
}

.search__input {
	padding: 0.8em;
	width: 85%;
}

.search__button {
	width: 15%;
	font-size: 1.5rem;
	padding-right: 0.5em;
	color: var(--TERTI-COLOR);
	display: grid;
	place-content: center;
}

/* ||  POST */

.post__readmore {
	font-weight: bold;
	cursor: pointer;
	color: var(--SECON-COLOR);
}

.post__info {
	color: var(--SECON-COLOR);
}

/* ||  USER */
.user__roles {
	display: none;
}

/* || FORM - GENERAL */

.form {
	display: flex;
	flex-flow: column nowrap;
	gap: 0.75em;
	max-width: 800px;
}

.form__checkbox-container {
	display: flex;
	align-items: center;
	width: fit-content;
	gap: 0.5em;
}

.form__persist {
	display: flex;
	align-items: center;
	width: 100%;
	gap: 0.5em;
}

.form__title-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.form__input,
.form__submit-button {
	padding: 0.5em;
	border-radius: var(--BORDER-RADIUS);
}

.form__submit-button {
	width: 50%;
	margin: auto;
}

.form__input--text {
	min-height: 150px;
}

.form__input--incomplete {
	border: var(--BORDER-S) var(--PRIM-COLOR);
	outline: var(--BORDER-S) var(--PRIM-COLOR);
}

.form__checkbox {
	width: 24px;
	height: 24px;
}

.form__select {
	width: fit-content;
	padding: 0.25em;
}

.form__action-buttons {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 0.5em;
	position: relative;
	right: 1em;
	bottom: 1em;
}

.form__file {
	border-radius: var(--BORDER-RADIUS);
}

.form__row {
	display: flex;
	flex-flow: row nowrap;
	gap: 2em;
}

.form__divider {
	display: flex;
	flex-flow: column nowrap;
	gap: 0.5em;
}

@media screen and (max-width: 480px) {
	h1 {
		font-size: 2rem;
	}

	.logo {
		width: 130px;
	}

	.dash-header__nav {
		gap: 0;
	}

	.dash-footer {
		font-size: 0.8rem;
	}

	.icon-button {
		font-size: 1.5rem;
	}

	
}

@media screen and (min-width: 768px) {
	body {
		font-size: 1.25rem;
	}

	.dash-header {
		padding: 0 1em;
	}

	.dash-container {
		padding: 1em 6em;
	}

	.table {
		font-size: 1.5rem;
	}

	.table--posts {
		grid-template-columns: repeat(2, 1fr) 2fr repeat(2, 1fr);
	}

	.table--users {
		grid-template-columns: repeat(2, 2fr) 1fr;
	}

	.post__created,
	.post__updated,
	.post__username {
		display: block;
	}

	.user__roles {
		display: block;
	}
}

@media screen and (min-width: 1600px) {
	.dash-container {
		padding: 1em 18em;
	}
}
